@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --c-primary: #5ece7b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:disabled {
  cursor: auto;
  opacity: 0.4;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem;
  width: 100%;
  max-width: 13rem;
  font-size: 1rem;
}

.btn-green {
  background: #5ece7b;
  color: white;
}

a {
  text-decoration: none;
}
